<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #6E3E68;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #C8B1C5;
  color: black;
}

.topnav a.active {
  background-color: #A35C9B;
  color: white;
}
</style>
</head>
<body>

<div class="topnav" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

  <a class="active hover" (click)=home()>Home</a>
  <a (click)=book()>Book your Travel</a>
  <a (click)=custom()>Customize your Travel</a>

  <a style="float: right;" (click)=logout() >Logout</a>
  <a style="float: right;" (click)=not()>Notifications</a>

</div>

<div style="padding-left:16px">

</div>

</body>
</html>
