<app-customer-header></app-customer-header>

<div class="container">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchKeyword"
      placeholder="Search destinations"
      class="search-box"
      (input)="filterTravels()"
    />
  </div>
</div>
<div style="max-height: 600px; overflow-y: scroll">
  <div class="card-container">
    <div class="row">
      <div class="col">
        <mat-card
          class="card with-background"
          *ngFor="let travel of travels; let i = index">
          <mat-card-header>
            <mat-card-title style="display: block;text-align: left; font-size: x-large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif"><b>{{ travel.travelPackageName }}</b></mat-card-title>
            <mat-card-subtitle style="display: block; text-align: left;"><b> Total Price: ${{ travel.totalPrice }}</b></mat-card-subtitle>
          </mat-card-header>
          <br>
          
          <mat-card-content style="text-align: left;">
            <!-- Display package details only if the current card is expanded -->
            <div class="card-text" *ngIf="expandedIndex === i">
              <div class="card-row" style="margin-bottom: -20px;">
                
                <div class="card-label">Flight:</div>
                <div class="card-value">
                  {{ travel.flightId ? getFlightNameById(travel.flightId) : "N/A" }}
                </div>

                <div style="margin-left:190px;margin-right: 10px;margin-bottom: 30px;" class="card-label">Departure Date:</div>
                <div class="card-value">
                  <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="travel.departureDate" name="departureDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="card-row">
                <div class="card-label">Hotel:</div>
                <div class="card-value">
                  {{
                    travel.hotelId ? getHotelNameById(travel.hotelId) : "N/A"
                  }}
                </div>
              </div>
              <div class="card-row">
                <div class="card-label">Activities:</div>
                <div class="card-value">
                  {{
                    travel.activitiesId
                      ? getActivityNameById(travel.activitiesId)
                      : "N/A"
                  }}
                </div>
              </div>
              <div class="card-row">
                <div class="card-label">Source:</div>
                <div class="card-value">{{ travel.sourceCity }}</div>
              </div>
              <div class="card-row">
                <div class="card-label">Destination:</div>
                <div class="card-value">{{ travel.destinationCity }}</div>
              </div>
              <div class="card-row">
                <div class="card-label">Number Of Days:</div>
                <div class="card-value">{{ travel.noOfDays }}</div>
              </div>
              
            </div>
          </mat-card-content>
          <mat-card-actions >
            <button
              mat-button
              class="add-btn add-btn:hover"
              (click)="toggleDetails(i)"
              style="margin: 10px;"
            >
              {{ expandedIndex === i ? "Hide Details" : "Show Details" }}
            </button>
            <mat-card-footer>
            <button
              mat-button
              class="add-btn add-btn:hover"
              [disabled]="travel.editable"
              [ngStyle]="{
                'background-color': travel.editable ? '#8E5188' : ''
              }"
              (click)="toggleEdit(i)"
              style="margin: 10px;"
            >
              {{ "BOOK" }}
            </button>
            <button mat-button class="add-btn" (click)="cancel(i)" style="margin: 10px;"> 
              CANCEL
            </button>
          </mat-card-footer>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <br />
</div>
