<app-adminheader></app-adminheader>


<div class="container ">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchKeyword" placeholder="Search" class="search-box" (input)="onSearchInputChange()">
  </div>
</div>
<div style="max-height: 575px; overflow-y: scroll;">

<table class="booking-table">
  
  <thead>
    <tr style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
      <th>Booking ID</th>
      <th>Customer ID</th>
      <th>Travel Package ID</th>
      <!-- <th>Payment ID</th> -->
      <th>Total Price</th>
      <th>Departure Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings; let i = index">
      <td>
        <input type="text" [(ngModel)]="booking.bookingId" [disabled]="true">
      </td>
      <td>
        <input type="text" [(ngModel)]="booking.customerId" [disabled]="true">
      </td>
      <td>
        <input type="text" [(ngModel)]="booking.travelPackageId" [disabled]="true">
      </td>
      <!-- <td>
        <input type="text" [(ngModel)]="booking.paymentId" [disabled]="true">
      </td> -->
      <td>
        <input type="text" [(ngModel)]="booking.totalPrice" [disabled]="true">
      </td>
      <td>
        <input type="text" [(ngModel)]="booking.departureDate" [disabled]="true">
      </td>
      <td>
        <button class="delete-btn" (click)="cancel(i)">Cancel</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<br>
