<app-adminheader></app-adminheader>

<div class="container ">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchKeyword" placeholder="Search" class="search-box" (input)="applyFilter()">
  </div>
  
  <button class="add-btn" (click)="addNewHotel()">Add Hotel</button>
</div>
<div style="max-height: 575px; overflow-y: scroll;">

<table class="hotel-table">
  <thead>
    <tr style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
      <th>Hotel Name</th>
      <th>Location</th>
      <th>Price per Night</th>
      <th>Amenities</th>
      <th>Action</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hotel of filteredHotels; let i = index" [class.selected]="hotel.editable">
      <td>
        <input type="text" [(ngModel)]="hotel.hotelName" [disabled]="!hotel.editable">
      </td>
      <td>
        <input type="text" [(ngModel)]="hotel.location" [disabled]="!hotel.editable">
      </td>
      <td>
        <input type="number" [(ngModel)]="hotel.pricePerNight" [disabled]="!hotel.editable">
      </td>
      <td>
        <input type="text" [(ngModel)]="hotel.amenities" [disabled]="!hotel.editable">
      </td>
      <td>
        <div style="margin-bottom: 10px;">
          <button class="edit-btn" (click)="toggleEdit(i)">
            {{ hotel.editable ? 'Save' : 'Edit' }}
          </button>
        </div>
        <div>
          <button class="delete-btn" (click)="deleteHotel(i)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<br>
<!-- <div *ngIf="showAddForm">
  <table class="hotel-table">
    <tbody>
      <tr>
        <td>
          <input type="text" [(ngModel)]="newHotel.hotelName">
        </td>
        <td>
          <input type="text" [(ngModel)]="newHotel.location">
        </td>
        <td>
          <input type="number" [(ngModel)]="newHotel.pricePerNight">
        </td>
        <td>
          <input type="text" [(ngModel)]="newHotel.amenities">
        </td>
        <td>
          <button class="edit-btn" (click)="saveHotel(newHotel)">
            Save
          </button>
          <button class="delete-btn" (click)="deleteNewHotel()">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->



<div *ngIf="showAddPopup" class="popup-overlay show">
  <div class="popup-content show">
    <h2>Add Hotel</h2>
    <div>
      <label>Hotel Name:</label>
      <input type="text" [(ngModel)]="newHotel.hotelName">
    </div>
    <div>
      <label>Location:</label>
      <input type="text" [(ngModel)]="newHotel.location">
    </div>
    <div>
      <label>Price Per Night:</label>
      <input type="number" [(ngModel)]="newHotel.pricePerNight">
    </div>
    <div>
      <label>Amenities:</label>
      <input type="text" [(ngModel)]="newHotel.amenities">
    </div>

    <div class="popup-buttons">
      <button class="cancel-btn" (click)="cancel()">Cancel</button>
      <button class="save-btn" (click)="saveHotel(newHotel)">Save</button>
    </div>
  </div>
</div>


 
