<app-customer-header></app-customer-header>
<br>
<h1 style="color: #532F4E;font-size: xx-large;">Hello {{customer.firstName}}!</h1>
<div class="container">
    <div class="box">
    <div class="relative">
        <img alt="..." src="https://demos.creative-tim.com/notus-js/assets/img/team-2-800x800.jpg" style="margin-top:-75px;height: 120px;width:120px;border-radius: 1000px;">
        </div>
        <mat-card style="background-color:#EAD9E0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <mat-card-header class="title_center" style="background-color: #F2EBED; padding: 16px;">
              <mat-card-title class="title_center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 24px; color: #333;">My Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 16px;">
                <table>
                    <tr>
                      <th>Customer ID:</th>
                      <td>{{customer.customerId}}</td>
                    </tr>
                    <tr>
                      <th>Username:</th>
                      <td>{{customer.username}}</td>
                    </tr>
                    <tr>
                      <th>First Name:</th>
                      <td>{{customer.firstName}}</td>
                    </tr>
                    <tr>
                      <th>Last Name:</th>
                      <td>{{customer.lastName}}</td>
                    </tr>
                    <tr>
                      <th>Email:</th>
                      <td>{{customer.email}}</td>
                    </tr>
                    <tr>
                      <th>Date of Birth:</th>
                      <td>{{customer.dob}}</td>
                    </tr>
                  </table> </mat-card-content>
          </mat-card>
          
    </div>
</div>
