<header>
  <nav style="display: flex; align-items: center; height: 80px; background-color: #F1E7EB; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)" class="navbar navbar-expand-md navbar-dark">
    <div style="flex: 1; display: flex; align-items: center; padding-left: 20px;">
      <img style="height: 100px; filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));" src="assets/pngegg.png">
    </div>
    <div style="flex: 1; display: flex; justify-content: flex-end; padding-right: 20px;">
      <p style="text-align: right; color: rgb(0, 0, 0); font-size: 20px; font-family: Garamond ,cursive;">Explore the World with Us!</p>
    </div>
    <ul class="navbar-nav">
      <!-- Add your navigation links here if needed -->
    </ul>
  </nav>
</header>
