<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

  <a class="active hover" (click)=home()>Home</a>
  <a (click)=travelagent()>Travel Package</a>
  <a (click)=listall()>List All Customer Bookings</a>
  <a (click)=flights()>Flights</a>
  <a (click)=hotels()>Hotels</a>
  <a (click)=activities()>Activities List</a>

  <a style="float: right;" (click)=logout() >Logout</a>
  <a style="float: right;position: relative; display: inline-block;" (click)=showNotification()>Notifications</a>

</div>

<div style="padding-left:16px">

</div>
<app-notification *ngIf="showNotificationFlag" (closeNotificationEvent)="closeNotification()"></app-notification>
</body>
</html>
