<footer>
  <div style="position: relative;">
    <nav style="position: fixed; width: 100%; bottom: 0; height: 30px; background-color: #F1E7EB; display: flex; justify-content: center; align-items: center; padding: 10px; box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);" class="navbar navbar-expand-md navbar-dark">
      <p style="color: rgb(0, 0, 0); font-size: 14px; font-family: 'Segoe UI', sans-serif; margin: 0;">&copy; 2023 My Travel Website · All Rights Reserved · Designed by The Innovators · English (CA) · $CAD</p>
    </nav>
  </div>
</footer>
